@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
} 
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
  }
.header{
    border:2px solid black;
    position: relative;
    height:4.5rem;
    padding:1rem;
    color:white;
    background-color: black;
    text-align: center;
    font-weight: lighter;
}
@media screen and (max-width:600px){
    .header{
        height:auto;
    }
    .image-container{
        height:auto;
    }
}
.image-container{
    background-image: url("images/img-bg.jpg");
    background-size: cover;
    height:90rem;
    width:100%;
    background-repeat: no-repeat;
    background-position: 69%;
}
nav{
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
  }
  nav .logo{
     margin-left: -7rem;
  }
  @media screen and (max-width){
    nav .logo{
         right:0;
    }
  }
  nav ul{
    display: flex;
    /* border:2px solid red; */
    width:60rem;
    justify-content: space-between;
    margin-right: 25rem;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: white;
    }
  }
.icons{
    /* border:2px solid black; */
    position:absolute;
    right:1rem;
    top:8rem;
    /* margin-left: 12rem;
    margin-top: 1.8rem; */
}
@media (max-width: 1000px){
    .icons{
        right:15rem;
        top:10rem;
    }
  }
.bg-header{
    /* border:2px solid green; */
    position:relative;
    font-size: 8rem;
    color:rgb(18,48,38);
    font-family:  sans-serif;
    margin-left: 2rem;
    font-weight: -900;
    margin-top: 18rem;
    line-height: 8rem;
}
.bg-desc{
    font-size: 2rem;
    color:white;
    margin-left: 2rem;
    margin-top: 10rem;
}
@media screen and (max-width:991px){
    .bg-header{
        font-size: calc(1vw + 1.5rem);
        line-height: normal;
    }
}
.bttn{
    width:15rem;
    height:4.5rem;
    font-size: 1.4rem;
    border:none;
    margin-top: 1rem;;
    border-radius: 2rem;
    margin-left: 1rem;
}
.bttn:hover{
    color:white;
    background-color: black;
}
.col{
    /* border:2px solid red; */
    width:25rem;
}
.shoe-container1{
    background-image: url("images/shoe1.webp");
    height:19rem;
    width:19rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.shoe-container2{
    background-image: url("images/shoe4.webp");
    height:19rem;
    width:19rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.shoe-container2:hover{
    background-image: url("images/shoe2.webp");
    height:19rem;
    width:23rem;
    background-repeat: no-repeat;
    background-size: cover;
    /* transform: scale(1.1); */
}
.shoe-container3{
    background-image: url("images/shoe1.webp");
    height:19rem;
    width:19rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.shoe-container3:hover{
    background-image: url("images/shoeImg.webp");
    height:19rem;
    width:23rem;
    background-repeat: no-repeat;
    background-size: cover;
}
 .shoe-container1:hover{
    /* background-image: url("images/shoe1.webp");
    height:13rem;
    width:13rem;
    background-repeat: no-repeat;
    background-size: cover; */
    transform: scale(1.1);
}
@media all and (max-width:768px){
    .col{
        max-width: 400px;
    }
}
.row{
    /* border:2px solid red; */
    display: flex;
    justify-content: center;
    padding-left:7rem;
    flex-wrap: wrap;
}
.col{
    flex-basis: 100%;
    max-width: 300px;
}
.info{
    font-size: 1.5rem;
    margin-top: 5rem;
}
.btn{
    width:15rem;
    height:4rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    color:white;
    background-color:rgb(18,48,38);
}
.container3{
    /* border:2px solid black; */
    height:28rem;
    margin-top: 2rem;
    padding:2rem;
    background-color: rgb(18,48,38);
}
.head{
    font-size: 6.5rem;
    font-stretch: ultra-expanded;
    color:rgb(190,127,127);
    margin-left: 0.5rem;
    margin-top: 4rem;
    line-height: 6.5rem;
}
@media screen and (max-width:700px){
    .container3{
         height:auto;
         line-height: normal;
    }
    .head{
        font-size: calc(.5vw + 1.5rem);
    }
}
.container4 {
    display: flex;
    padding-left: 2rem;
    
}
.container4 img {
    flex-basis: 50%;
    max-width: 100%;
}
@media screen and (max-width:768px){
    .container4{
        flex-direction: column;
        flex-basis: 100%;
    }
}
.subtitle{
    margin-top: -3rem;
    font-size: 2.6rem;
}
.container5{
    /* border:2px solid black; */
    background-color: rgb(18,48,38);
    height:110rem;
    /* margin-top: -4rem; */
}
@media (max-width:800px){
    .container5{
        height:auto;
    }
}
.heading1{
    font-size: 6.5rem;
    line-height: 7rem;
    color:rgb(190,127,127);
    padding-top: 15rem;
    padding-left: 3rem;
}
.heading2{
    font-size: 3.2rem;
    color:rgb(190,127,127);
    padding-left: 3rem;
    padding-top: 2rem;
}
.para{
    font-size: 7rem; 
    color:rgb(18,48,38);
    padding-left:2rem;
}
.container6{
    /* border:2px solid black; */
    display: flex;
  justify-content: center;
  align-items: center;
}
.container6 img{
    max-width: 100%;
    padding-top: 10rem;
    height: auto;
}
@media screen and (max-width:991px){
    .heading1{
        font-size: calc(.5vw + 1.5rem);
        line-height: normal;
    }
    .heading2{
        font-size: calc(.5vw + 1.5rem);
    }
    .para{
        font-size: calc(.5vw + 1.5rem);
    }
}
.sub-heading{
    font-size:4.8rem;
    font-weight: normal;
    text-justify: inter-word;
    text-align: justify;
    padding-top: 5rem;
    color:rgb(18,48,38);
    line-height: 6.7rem;
}
.container7{
    /* border: 2px solid red; */
    margin-top: 4.5rem;
}
.grid-images{
    /* border:2px solid red; */
    width:93%;
    margin-left: 2.5rem;
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-gap:0;
    margin-top: 1rem;
}
.grid-images img{
    height:auto;
    max-width:100%;
}
@media screen and (max-width: 768px) {
    .grid-images {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
@media screen and (max-width: 480px) {
    .grid-images {
      grid-template-columns: 1fr;
    }
  }
.input{
    width:22rem;
    height: 5rem;
    border:1px solid black;
    font-size: 1.5rem;;
}
.button{
    height: 5rem;
    width:8rem;
    margin-left: -0.3rem;
    margin-top:-1.2rem;
    color:white;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: black;
}
@media screen and (max-width:890px){
    .sub-heading{
        font-size: calc(.5vw + 1.5rem);
        line-height: normal;
        padding-left:0;
    }
}
.field{
    margin-top: 4rem;
}
.container8{
    /* border:2px solid black; */
    height:55rem;
    margin-top: 3rem;
    background-color:whitesmoke;
    padding-left: 5rem;
}
.footer-container{
    /* border:2px solid red; */
    margin-top: -2rem;
    height:37rem;
    background-color:  rgb(18,48,38);
}
.sub-footer{
    display:flex;
    justify-content: space-around;
    /* border: 2px solid red; */
}
ul{
    list-style: none;
    margin-top: 1rem;
}
.sub-footer li{
    line-height: 1.8rem;
    padding-top: 1rem;
    color:white;
    font-size: 1.3rem;
    opacity: 0.6;
}
.footer-logo{
    margin-top: 6rem;
    margin-left: 1rem;
}
.footer{
    margin-left: 3rem;
    /* border: 2px solid red; */
}
.footer-matter{
     color:white;
     font-size: 1.5rem;
     margin-top: 6rem;
}
@media screen and (max-width:910px){
    .sub-footer{
        flex-direction: column;
    }
    .footer-container{
        height:auto;
    }
}
